
.bigContainer {
  height: 100vh;
  max-width: 100vw;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  inset: 0;
}

iframe {
  width: 100% !important;
  margin: 0;
  padding: 0;
}
